@charset "utf-8";

.answers {
    margin:0 100px;
}

h1 {
    font-size: 24px;
    padding:10px 0 10px 20px;
    border-bottom: 2px solid;
}

h2 {
    font-size: 18px;
    padding:10px 0 10px 10px;
}

.make {
    width: 140px;
    margin-top: 16px;
    margin-bottom: 10px;
    padding: 10px 0 10px 12px;
    color: blue;
    border: double;
}

.text {
    padding:10px 0;
}

.footer {
    margin:50px 100px 0 100px;
}

.back {
    color: blue;
}